doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")  
  body
    header
      h1 Random Chat Service
    block content
    footer
      p Running on node with Express, Jade
