p welcome to random chat service
h2 Login Panel
form#loginpanel(method='post' action='/login')
  input#username(type='text' name="uname")
  input#password(type='password' name="pass")
  input(type='submit' value='Login')
